
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="<%=root_path%>">GN</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
              <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%=profil_path(current_account.username)%>">My_Profil</a>
          </li>

          <li class="nav-item">
          <a class="nav-link" href="<%= new_post_path%>">Post</a>
        </li>


        <li class="nav-item">
          <%= link_to "sign out", destroy_account_session_path, method: :delete,  class: "nav-link"%>
        </li>

        </ul>
      </div>
    </nav>
